// Colors
$violet-darkest: #47126b;
$violet-dark: #571089;
$violet-base: #6411ad;
$violet-light: #6d23b6;
$middle-color: #822faf;
$pink-darkest: #973aa8;
$pink-dark: #ac46a1;
$pink-base: #c05299;
$pink-light: #d55d92;
$pink-lightest: #ea698b;
