// Colors
$violet-darkest: '#47126B';
$violet-dark: '#571089';
$violet-base: '#6411AD';
$violet-light: '#6D23B6';
$middle-color: '#822FAF';
$pink-darkest: '#973AA8';
$pink-dark: '#AC46A1';
$pink-base: '#C05299';
$pink-light: '#D55D92';
$pink-lightest: '#EA698B';
