@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,
body {
  // background: linear-gradient(
  //   180deg,
  //   $violet-darkest 0%,
  //   $violet-base 40%,
  //   $middle-color 100%
  // );
  position: relative;
  background-image: url('../assets/images/city.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Header {
  margin-bottom: 50px;
}
h1 {
  padding: 0;
  margin: 0;
  font-size: 70px;
  text-align: center;
  background-color: $violet-darkest;
  background-image: linear-gradient(45deg, $violet-darkest, $pink-lightest);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.CenterDiv {
  @include center-absolute;
}

//
.double-up:before {
  display: block;
  content: '';
  height: 80px;
  width: 80px;
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border: 10px $violet-darkest double;
  border-left-style: solid;
  border-radius: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.container {
  z-index: 3;
  @include center-absolute;
  height: 100px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
