//Imports
@import 'variables';
@import 'mixins';

// Mixins
@mixin phone-border-radius {
  border-radius: 45px;
}

// Styles

.PhoneCase {
  box-shadow: 0 0 20px $pink-light;
  -webkit-box-shadow: 0 0 20px $pink-light;
  width: 300px;
  height: 600px;
  background-color: black;
  @include phone-border-radius;
  position: relative;
  margin: auto;
}

.PhoneScreen {
  background-image: linear-gradient(
    30deg,
    $violet-darkest 0%,
    $middle-color 19%,
    $pink-base 50%,
    #dddddd 100%
  );
  width: 98%;
  height: 98%;
  // background: grey;
  backdrop-filter: blur(40px) saturate(20%);
  -webkit-backdrop-filter: blur(40px) saturate(27%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  @include center-absolute;
  @include phone-border-radius;
}
.PhoneNotch {
  position: absolute;
  background-color: black;
  z-index: 1;
  width: 50%;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
}
.Speaker {
  width: 45px;
  height: 5px;
  border-radius: 2px;
  background-color: #222222;
  @include center-absolute;
}
.Camera {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #131313;
  @include center-absolute;
  left: 80%;
}
